
  <div class="toolbar">
  <div class="container">
    <div class="container__info">
       <div class="info__logo">
        <ion-thumbnail>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail>

        <label for="">Olá..Turco!</label>
       </div>
       <div class="info__alerts">
        <ion-icon name="notifications"></ion-icon>
        <ion-icon name="list"></ion-icon>
       </div>

    </div>

    <div class="container__balance">
       <div class="balance__text">
        <label for="">Saldo geral</label>
       </div>
       <div class="balance">

          <label for="">R$ 100.00</label>
          <ion-icon name="list"></ion-icon>
        </div>
    </div>



  </div>
  </div>

